@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');




@mixin button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 0px solid #000;
    align-items: stretch;
    font: inherit;
    vertical-align: baseline;
}

@mixin svg-btn {
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0;
    outline: none;
}

@mixin svg-container {
    cursor: pointer;
    vertical-align: baseline;
    border: 0 solid #000;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    align-items: center;
    justify-content: center;
}









* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    // scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;

}



body {
    line-height: 1.2;
    // min-height: 100vh;
    width: 100%;
    // font-weight: 300;
    /* background: #242424; */
    // background: #252836;
    // color: #ffffff;

    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 100vh;
    }

    &::-webkit-scrollbar-thumb {
        background: #3D41D7;
    }

    &::-webkit-scrollbar-track {
        background: grey;
    }

    .container {
        width: 100%;
        height: 100%;
        padding: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .header-side-bar {
            background: #3D41D7 url("../images/bottom.svg");
            background-repeat: no-repeat;
            background-position: bottom;
            // background-size: contain;
            // opacity: 0.1;
            box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
            border-radius: 15px;
            height: 100%;
            width: 18rem;
            padding: 1em;
            display: flex;
            flex-direction: column;
            

            .header-side-bar-logo-container {
                text-align: center;
                padding: 1.5em 0 2.5em 0;
            }

            .side-bar-ul {
                list-style: none;
                display: flex;
                flex-direction: column;

                .side-bar-li {
                    // border: 1px solid green;
                    width: 100%;
                    position: relative;
                    margin: 0.3em 0;

                    a {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        padding: 1em 0;
                        text-decoration: none;
                        color: #D3D3FD;
                        font-size: 0.9rem;
                        justify-content: space-between;
                        // font-weight: 500;

                        

                        .side-bar-container {
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            justify-content: space-between;
                            


                            

                            .side-bar-display {
                                display: flex;
                                align-items: center;
                                flex-direction: row;
                                margin-right: 2.5em;
                                
                                .side-bar-display-image-container {
                                    margin-right: 1em;

                                    img {
                                        vertical-align: middle;
                                    }
                                }
                            }

                            .side-bar-arrow {
                                margin-left: auto;
                                // border: 1px solid red;
                                
                            }

                            .side-bar-message-notification {
                                width: 1.3rem;
                                height: 1.3rem;
                                background: #DE350B;
                                color: #FFFFFF;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 100vh;
                                font-size: 0.8rem;
                            }
                        }
                    }

                    // &::before {
                    //     content: "";
                    //     position: absolute;
                    //     width: 0.2rem;
                    //     height: 100%;
                    //     border-radius: 100vh;
                    //     background: #D3D3FD;
                    //     left: 0;
                    //     top: 0;

                    // }
                }
            }


            .side-bar-nav {
                margin-top: auto;
                display: flex;
                flex-direction: column;
                margin-top: 5em;

                .side-bar-header {
                    font-size: 0.9rem;
                    line-height: 20px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #D3D3FD;
                    padding: 0.7em 0;
                }
            }

            .side-bar-upgrade-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding-top: 0.9em;

                .side-bar-upgrade-arrow-container {
                    background: #FFFFFF;
                    border-radius: 16px;
                    height: 4em;
                    width: 4em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }


                .side-bar-upgrade-text-container {
                    font-size: 1.1rem;
                    text-align: center;
                    color: #FFFFFF;
                    padding: 1.3em 0;

                    span {
                        font-weight: 600;
                        font-size: 1.2rem;
                    }
                }


                .side-bar-upgrade-btn-container {
                    button {
                        height: 3em;
                        background: #FFFFFF;
                        border-radius: 16px;
                        padding: 0em 3em;
                        display: flex;
                        outline: none;
                        font-size: 1rem;
                        font-weight: 600;
                        color: #323484;
                        border: 0px solid #000;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }
                }
            }
        }

        main {
            border-radius: 15px;
            flex-grow: 1;
            width: 100%;
            padding: 1em 3em;

            .main-display {
                display: flex;
                flex-direction: column;

                .main-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1em 0;

                    .main-header-name-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;


                        .main-header-greeting-container {
                            color: #8F92A1;
                            font-size: 0.9rem;
                        }

                        .main-header-dashboard-update-padding {
                            padding: 0.3em 0;
                        }

                        .main-header-dashboard-update {
                            font-size: 35px;
                            color: #272835;
                        }
                    }

                    .main-header-profile-container {
                        display: flex;
                        align-items: center;
                        flex-direction: row;

                        .main-header-profile-logo-container {
                            @include button-container();

                            margin-right: 2.5em;

                            button {
                                @include svg-btn();
                                // border: 1px solid red;
                                height: 3em;
                                width: 3em;

                                .svg-container {
                                    @include svg-container();
                                    position: relative;

                                    .notification-number {
                                        border-radius: 50%;
                                        height: 1.5em;
                                        width: 1.5em;
                                        font-size: 0.5rem;
                                        top: -3px;
                                        right: -3px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background: #3D41D7;
                                        color: #FFFFFF;
                                        position: absolute;
                                    }
                                }
                            }

                            
                        }

                        .header-profile-display {
                            width: 3em;
                            height: 3em;
                            display: block;
                            overflow: hidden;
                            border-radius: 50%;
                            filter: drop-shadow(0px 14px 34px rgba(34, 37, 169, 0.4));

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }


                .chart-update-container {

                    .chart-update-display {
                        display: -ms-grid;
                        display: grid;
                        // align-items: center;
                        -ms-grid-columns: repeat(3, 1fr);
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 2em;
                        margin: 3.2em 0;

                        .chart-update-blog-card-latest-update {
                            background: #FFF4F2;
                            border-radius: 20px;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            padding: 1em;

                            .chart-update-blog-card-latest-update-image-container {
                                background: #7CDDD9;
                                border-radius: 20px;
                                text-align: center;
                                padding: 1.5em 0;
                            }

                            .chart-update-blog-card-latest-update-text-add-display {
                                margin-top: 2.5em;
                                margin-bottom: 1em;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .chart-update-blog-card-latest-update-text-container {
                                    display: flex;
                                    flex-direction: column;

                                    .chart-update-blog-card-latest-update-text-header {
                                        font-size: 1.2rem;
                                        color: #000000;
                                    }

                                    .chart-update-blog-card-latest-update-text-padding {
                                        padding: 0.1em 0;
                                    }

                                    .chart-update-blog-card-latest-update-text-sub-header {
                                        font-size: 0.8rem;
                                        color: #8F92A1;
                                    }
                                }

                                .chart-update-blog-card-latest-update-add-container {
                                    background: #3D41D7;
                                    box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
                                    border-radius: 10px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 3em;
                                    height: 3em;
                                }
                            }
                        }

                        .update-analysis-container {
                            display: -ms-grid;
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-rows: repeat(2, 1fr);
                            grid-gap: 2em;

                            .update-analysis {
                                background: #F6F8FF;
                                border-radius: 20px;
                                grid-area: 1 / 1 / 2 / 3;
                            }

                            .update-video-count {
                                background: #F6F8FF;
                                border-radius: 20px;
                                grid-area: 2 / 1 / 3 / 2;
                                padding: 1em;
                                text-align: center;
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                .update-video-play-btn-container {
                                    background: #FFFFFF;
                                    box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
                                    border-radius: 50%;
                                    width: 3.5em;
                                    height: 3.5em;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }

                                .update-video-count-container {
                                    font-size: 1.5rem;
                                    // line-height: 14px;
                                    text-align: center;
                                    color: #272835;
                                    padding: 0.5em 0 0.2em 0;
                                    
                                }

                                .update-video-text-container {
                                    color: #8F92A1;
                                    font-size: 0.9rem;
                                }
                            }

                            .update-schedule-post {
                                background: #3D41D7;
                                box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
                                border-radius: 20px;
                                grid-area: 2 / 2 / 3 / 3;
                                padding: 1em;
                                text-align: center;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                color: #FFFFFF;

                                .update-schedule-icon-container {
                                    width: 3.5em;
                                    height: 3.5em;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }

                                .update-schedule-count-container {
                                    font-size: 1.5rem;
                                    // line-height: 14px;
                                    text-align: center;
                                    padding: 0.4em 0 0.2em 0;
                                    
                                }

                                .update-schedule-post-text-container {
                                    font-size: 0.9rem;
                                }
                            }
                        }

                        .update-image-weather-update-container {
                            width: 100%;
                            display: block;
                            position: relative;

                            &:hover {
                                .update-weather-hover-text  {
                                    display: flex;
                                    animation: scale 600ms ease-in-out forwards;
                                
                                
                                    @keyframes scale {
                                        0% {
                                            opacity: 0;
                                            transform: scale(0);
                                        }
                                
                                        80% {
                                            transform: scale(1.07);
                                        }
                                
                                        100% {
                                            opacity: 1;
                                            transform: scale(1);
                                        }
                                    }
                                }
                            }
                
                            .update-weather-image {
                                overflow: hidden;
                                display: block;
                                border-radius: 10px;
                                width: 100%;
                                height: 100%;
                                position: relative;
                                padding-bottom: 100%;
                    
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    height: 100%;
                                    left: 0;
                                    position: absolute;
                                    top: 0;
                                    width: 100%;
                                    // z-index: 0;
                                }
                            }

                            .update-weather-hover-text {
                                position: absolute;
                                top: 0;
                                // background: grey;
                                // opacity: 0.1;
                                height: 100%;
                                width: 100%;
                                color: #FFFFFF;
                                padding: 1em;
                                display: flex;
                                flex-direction: column;
                                // display: none;

                                .update-weather-hover-header {
                                    font-size: 1.4rem;
                                    line-height: 32px;
                                    
                                }

                                .update-weather-sub-header {
                                    padding: 0.5em 0 0.9em 0;
                                }

                                .update-weather-degree {
                                    font-size: 2.4rem;
                                }

                                .update-weather-add-btn-container {
                                    display: flex;
                                    justify-content: flex-end;
                                    margin-top: auto;

                                    .update-weather-btn-container {
                                        background: #FFFFFF;
                                        box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
                                        border-radius: 20px 0px 20px 20px;
                                        width: 5em;
                                        height: 5em;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
    
                                        .svg-container {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            background: #3D41D7;
                                            box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
                                            border-radius: 10px;
                                            width: 3em;
                                            height: 3em;
                                        }
                                    }
                                }

                                
                            }
                        }
                    }
                }


                .social-media-update-container  {

                    .social-media-update-main-header {
                        font-size: 1.5rem;
                        font-weight: 500;
                        padding: 1em 0;
                        
                    }
                    .social-media-update-display {
                        display: -ms-grid;
                        display: grid;
                        -ms-grid-columns: repeat(3, 1fr);
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 2em;

                        .social-media-update-count-container {
                            display: flex;
                            flex-direction: column;

                            .social-media-update-count-header-display {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                font-size: 0.9rem;
                                margin-bottom: 1em;
                                color: #8F92A1;

                                // font-weight: 600;

                                .brand-addition {
                                    background: #F6FAFF;
                                    border: 1px solid #B3B6DA;
                                    box-sizing: border-box;
                                    border-radius: 100vh;
                                    padding: 0.6em 1em;
                                }
                            }

                            .social-media-count-display {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin: 0.8em 0;

                                .social-detail-container {
                                    display: flex;
                                    align-items: center;
                                    .twitter-icon-container {
                                        width: 48px;
                                        height: 48px;                           
                                        background: #299EE8;
                                        border-radius: 10px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        margin-right: 1em;
                                    }

                                    .pinterest-icon-container {
                                        background: #D32F2F;
                                        width: 48px;
                                        height: 48px;                           
                                        border-radius: 10px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        margin-right: 1em;
                                    }

                                    .linkedin-icon-container {
                                        background: #1976D2;
                                        width: 48px;
                                        height: 48px;                           
                                        border-radius: 10px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        margin-right: 1em;
                                    }

                                    .social-detail-text {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-start;

                                        .social-detail-header {
                                            font-size: 1rem;
                                            color: #272835;
                                            font-weight: 600;
                                        }
                                        .social-detail-header {
                                            font-size: 1rem;
                                            color: #272835;
                                            font-weight: 600;
                                        }

                                        .social-detail-padding {
                                            padding: 0.1em 0;
                                        }

                                        .social-detail-sub-header {
                                            font-size: 0.7rem;
                                            color: #8F92A1;
                                        }
                                    }
                                }

                                .twitter-count {
                                    font-weight: 600;
                                    font-size: 0.9rem;
                                    color: #016F42;
                                }
                                .pinterest-count {
                                    font-weight: 600;
                                    font-size: 0.9rem;
                                    color: #FF0000;

                                }
                                .linkedin-count {
                                    font-weight: 600;
                                    font-size: 0.9rem;
                                    color: #6B46FF;
                                }
                            }
                        }

                        .social-media-progress-update-container {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            // border: 1px solid red;

                            svg {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                transform: translate(-50%, -50%);
                                circle  {
                                    width: 100%;
                                    height: 100%;
                                    fill: none;
                                    stroke-width: 20;
                                    stroke-linecap: round;
                                    transform: translate(50px, 35px);

                                    &:nth-child(2) {
                                        stroke-dasharray: 480;
                                        stroke-dashoffset: calc(480 - (480 * 89) / 100);
                                        stroke: #FF8831;
                                    }
                                }
                            }

                            .progress-number {
                                width: 200px;
                                height: 200px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                text-align: center;
                                background: #FFFFFF;
                                box-shadow: 0px 0px 44px rgba(34, 37, 169, 0.1);

                                .progress-percent {
                                    color: #3D41D7;
                                    font-size: 3rem;
                                }

                                .progress-text {
                                    color: #8F92A1;
                                    font-size: 0.9rem;
                                }
                            }


                        }

                        .social-media-saved-post-container {
                            background: url("../images/saved.svg"), linear-gradient(131.58deg, #FA93D2 1.34%, #895FE0 103.94%);
                            background-repeat: no-repeat;
                            background-position: bottom right;
                            background-size: contain;
                            border-radius: 20px;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            color: #FFFFFF;
                            padding: 3.5em 1em 1em 1em;
                            justify-content: center;

                            .social-saved-greeting-container {
                                font-size: 1rem;
                            }
                            .social-saved-amount-container {
                                font-size: 3.4rem;
                                padding: 0.2em 0;
                            }

                            .social-saved-greeting-container {
                                font-size: 1rem;
                            }
                            .social-saved-post-reach-container {
                                margin-top: auto;
                                display: flex;
                                justify-content: flex-end;
                            }


                        }

                    }
                }

            }
        }
    }
}


